* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body {
    background-color: white;
    width: auto;
    height: auto;
    /* position: relative; */
}
/* the main header contain uber & nav links*/
header {
    background-color: black;
    width: 100%;
}
header h1 {
    color: white;
    font-size: large;
}
h1, .main-header, .header-nav {
    display: flex;
    margin: 10px 40px;
    font-size: medium;
    padding: 5px;
    margin-bottom: 0;
}
.header-nav1 {
    margin-right: 130px;
}
.header-nav2 {
    margin-right: 60px;
    margin-left: 120px;
    /* flex: 2; */
}
nav ul {
    list-style: none;
    display: flex;
}
nav ul li {
    margin-right: 20px;
}
nav ul li a {
    color: white;
    text-decoration: none;
}
header nav ul li i {
    color: white;
    /* position: relative; */
}
header button {
    width: 80px;
    border-radius: 20px;
    padding: 10px;
}
.nav-btn {
    margin-top: -10px;
}

/* the first section after the header containing several icons */
.section-container {
    background-color: #DDA754;
    height: 120vh;
    margin-bottom: 0;
    border: 1px solid #DDA754;
    position: relative;
}
.section-navbar {
    border: 1px solid white;
    width: 80%;
    height: 10vh;
    background-color: white;
    margin-top: 60px;
    margin-left: 130px;
    padding-top: 40px;
    padding-bottom: 30px;
    position: relative;
}
section nav ul li a {
    color: black !important;
    margin-left: 80px;
    display: grid;
    justify-items: center;
}
section nav ul li a i {
    margin-bottom: 20px;
    /* position: absolute; */
}

/* the second box in the section just after the header  */
.section-signup {
    border: 1px solid white;
    margin-left: 130px;
    width: 40%;
    height: 80vh;
    background-color: white;
    position: relative;
    margin-top: 0.3px;
}
.sectionh1 {
    font-size: 40px;
    font-family: 'UberMove', 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
    margin: 20px 40px;

}
section p {
    margin: 20px 40px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Open Sans Condensed',
    sans-serif;
}
.section-btn {
    margin: 20px 40px;
    font-size: medium;
    padding: 15px;
    border-radius: 2px;
    background-color: black;
    color: white;
    width: 30%;
}
.section-signup a {
    color: black;
    font-weight: lighter;
}
.section-img img{
    height: 80vh;
    transform: translateY(-70%);
    margin-left: 535px;
    margin-top: 1px;
    width: 100%;
    position: absolute;
}


/* this is for the image svg designs */
.svg-section {
    border: 1px solid #CDD4D1;
    background-color: #CDD4D1;
    height: 75vh;
    width: 100%;
}
.svg-title {
    font-size: xx-large;
    font-weight: bolder;
    margin-top: 40px;
    margin-left: 130px;
    margin-bottom: 20px;
}
.svg-section a {
    margin-left: 130px;
    color: black;
}
.svg-sectionimgs img{
    margin-right: 80px;
}
.image1 {
    transform: rotateY(180deg);
}
.image4 {
    transform: rotateY(180deg);
    position: absolute;
}

/* the article section */
.article-container {
    height: auto;
}
.article-container h1, p {
    margin-left: 130px;
    color: black;
    padding: 10px;
}
.article-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    margin-top: 30px;
    margin-left: 40px;
}
.article-box img, h1, p {
    margin-left: 30px !important;
}


